<hr>
<h2 style="float: right; background-color:rgb(235, 191, 82);">{{ title | uppercase }}</h2>
<div class="row">
  <div class="col">
    <app-search (onSearch)="searchBy( $event )"
                (onDebounce)="searchBy( $event )"
                label="Country"
                placeholder="By Country">
    </app-search>
  </div>
</div>
<hr>

<div *ngIf="getError()"  class="alert alert-danger">
  No elements found ...
</div>

<div *ngIf="!getError() && getCountriesList().length > 0" class="row">
  <div class="col">
    <app-table></app-table>
  </div>
</div>


