/* You can add global styles to this file, and also import other style files */
.actived {
  background-color: aqua;
  color:black;
}

.sidebar {
  size: 50%;
  text-align: center;
  padding: 3px;
}

:host {
  width: 100%;
  height: 100%;
  display: block;
}

app-root {
  display: block;
  height: 100%;
  width: 100%;
}
